{% extends 'index.html' %}
{% block content %}
    {% if portfolio.user == request.user %}
        <h2 class="text-center mb-4">Supprimer votre Portfolio ?</h2>
        <div class="review border border-secondary m-4 p-2">
            {% include 'portfolio/partials/portfolio_minus_snippet.html' with portfolio_id=potfolio %}
        </div>
        <form method="post">
            {{ delete_form }}
            {% csrf_token %}
            {% include 'portfolio/partials/validation_buttons_snippet.html' with word='Supprimer'%}
        </form>
    {% else %}
        {% include 'portfolio/access_denied.html' %}
    {% endif %}
{% endblock content %}