<ul class="nav flex-column">
    <li class="nav-item">
        <a class="btn btn--full-width btn-secondary" href="{% url 'users:edit_profile' %}">
            Modifier Profile
        </a>
    </li>
    <li class="nav-item">
        <a class="btn btn--full-width btn-secondary" href="{% url 'users:generate_guest_access_code' %}">
            Générer Code Invité
        </a>
    </li>
    <li class="nav-item">
        <a class="btn btn--full-width btn-secondary" href="{% url 'users:password_change' %}">
            Changer le mot de passe
        </a>
    </li>
</ul>