<ul class="nav flex-column justify-content-end">
    <li class="nav-item">
        <a class="btn btn--full-width btn-secondary" href="{% url 'skill:skill_home' %}">
            Skills
        </a>
    </li>
    <li class="nav-item">
        <a class="btn btn--full-width btn-secondary" href="{% url 'project:project_home' %}">
            Projects
        </a>
    </li>
    <li class="nav-item">
        <a class="btn btn--full-width btn-secondary" href="{% url 'cv:cv_home' %}">
            Cv
        </a>
    </li>
</ul>
