<div class="scale-in-center">
    <h2>Qui je suis...</h2>
    <p>{{ cv.profil }}</p>
</div>
<div class="row container border-0">
    <div class="about-softskills tracking-in-expand col-lg-6">
        <h2>Mes softskills...</h2>
        <ul>
            {% for softskill in cv.softskills.all %}
            <li>{% include 'skill/partials/softskill_snippet.html' with softskill=softskill %}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="about-knowledges tracking-in-expand col-lg-6">
        <h2>Ma stack...</h2>
        <ul>
            {% for technology in cv.technologies.all %}
            <li><img src="{{technology.image.url}}" title="{{technology.title}}"></li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="z-1 text-center">
    Pour imprimer mon CV c'est <a class="link" href="{% url 'cv:print_cv' cv.id %}">Ici</a>
</div>