{% extends 'index.html' %}
{% block sidebar %}
    {% include 'cv/partials/cv_menu_snippet.html' %}
{% endblock sidebar %}
{% block content %}
    <h2 class="text-center mb-4">Ajouter une Formation</h2>



    <div class="d-flex flex-column mb-4 col-sm-6">
        <form class="form__field" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formation_form.edit_formation }}
            <label class="ms-3" for="{{ formation_form.title.id }}">Intitulé de la Formation</label>
            <div class="ms-4 mb-3 p-2">
                {{ formation_form.title}}
            </div>
            <label class="ms-3" for="{{ formation_form.school_name.id }}">Nom de l'organisme / Ecole</label>
            <div class="ms-4 mb-3 p-2">
                {{ formation_form.school_name}}
            </div>
            <label class="ms-3" for="{{ formation_form.location.id }}">Lieu / Ville</label>
            <div class="ms-4 mb-3 p-2">
                {{ formation_form.location}}
            </div>
            <label class="ms-3" for="{{ formation_form.date_started.id }}">Date début</label>
            <div class="ms-4 mb-3 p-2">
                {{ formation_form.date_started}}
            </div>
            <label class="ms-3" for="{{ formation_form.date_end.id }}">Date fin</label>
            <div class="ms-4 mb-3 p-2">
                {{ formation_form.date_end}}
            </div>
            <label class="ms-3" for="{{ formation_form.rncp_level.id }}">Niveau / RNCP</label>
            <div class="ms-4 mb-3 p-2">
                {{ formation_form.rncp_level}}
            </div>
            <label class="ms-3" for="{{ formation_form.certificate_picture.id }}">Photo Diplome / Logo de Certification</label>
            <div class="ms-4 mb-3 p-2">
                {{ formation_form.certificate_picture}}
            </div>
            {% include 'cv/partials/validation_buttons_snippet.html' with word='Envoyer' %}
        </form>
    </div>
{% endblock content %}