{% extends 'index.html' %}
{% block sidebar %}
    {% include 'cv/partials/cv_menu_snippet.html' %}
{% endblock sidebar %}
{% block content %}
{% include 'cv/partials/cv_snippet.html' with cv=cv %}
{% if user.is_authenticated %}
    <div class="text-end col-sm-6">
        <a class="btn btn-secondary mt-2 mb-2 me-4" href="{% url 'cv:edit_cv' cv.id %}">
            🖉
        </a>
        <a class="btn btn-secondary mt-2 mb-2 me-4" href="{% url 'cv:delete_cv' cv.id %}">
            X
        </a>
    </div>
{% endif %}
<a class="btn btn-secondary mt-2 mb-2 me-4" href="{% url 'cv:print_cv' cv.id %}">Imprimer le cv</a>
{% endblock content %}