{% extends 'index.html' %}
{% block sidebar %}
    {% include 'cv/partials/cv_menu_snippet.html' %}
{% endblock sidebar %}
{% block content %}
    {% if formation.user == request.user %}
        <h2 class="text-center mb-4">Supprimer cette formation ?</h2>
        <div class="review border border-secondary m-4 p-2">
            {% include 'cv/partials/formation_minus_snippet.html' with formation_id=formation %}
        </div>
        <form method="post">
            {{ delete_form }}
            {% csrf_token %}
            {% include 'cv/partials/validation_buttons_snippet.html' with word='Supprimer'%}
        </form>
    {% else %}
        {% include 'cv/access_denied.html' %}
    {% endif %}
{% endblock content %}