/* fonts */

@font-face {
	font-family: 'fontscorecomttwcenmt';
	src: local('fontscorecomttwcenmt'), url('../fonts/fontscorecomttwcenmt.woff') format('woff');
	font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cadmanregular';
    src: url('../fonts/Cadman_Roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'acmeregular';
    src: url('../fonts/Acme-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

