$colour-black: #000000;
$colour-white: #fff;
$colour-error: #DB464B;
$picture-background: url('../img/background_sga.png');
$colour-background : #2b2b2b;
$breakpoints: (mobile: 576px, tablet: 1200px);
$color-header-background: rgb(124,139,193);
$gradient-header-background: linear-gradient(45deg, rgba(124,139,193,1) 0%, rgba(89,242,184,1) 100%);
$gradient-btn-background: radial-gradient(circle, rgba(147,149,150,1) 0%, rgba(102,102,103,1) 100%);
$colour-btn-background-hover: #15DEA5;
$color-btn-hover: #D6FFF5;
$colour-nav-active: #001534;