<ul class="nav flex-sm-column">
    <li class="nav-item ">
        <a class="btn btn--full-width  btn-secondary" href="{% url 'cv:cv_home' %}">
            CV
        </a>
    </li>
    <li class="nav-item">
        <a class="btn btn--full-width  btn-secondary" href="{% url 'cv:experience_home' %}">
            Experiences
        </a>
    </li>
    <li class="nav-item">
        <a class="btn btn--full-width  btn-secondary" href="{% url 'cv:formation_home' %}">
            Formations
        </a>
    </li>
    <li class="nav-item">
        <a class="btn btn--full-width  btn-secondary" href="{% url 'cv:hobbies_home' %}">
            Hobbies
        </a>
    </li>
</ul>