{% extends 'base.html' %}
<main class="container">
        <div class="proj-grid">
            <section class="proj-prev" onclick="location.href='./project.html'">
                <div class="proj-prev__image">
                    <img src="{% static 'img/photography_1280w.jpg' %}" srcset="
                        {% static 'img/photography_3000w.jpg' %} 3000w,
                        {% static 'img/photography_1920w.jpg' %} 1920w,
                        {% static 'img/photography_0864w.jpg' %} 864w,
                        {% static 'img/photography_0640w.jpg' %} 640w,
                        {% static 'img/photography_0640w.jpg' %} 640w,
                        {% static 'img/photography_0420w.jpg' %} 420w
                    " alt="project title goes here">
                </div>
                <h1 class="proj-prev__heading">
                    Project Title
                </h1>
                <p class="proj-prev__byline">
                    project keywords would go here
                </p>
            </section>
            <section class="proj-prev">
                <div class="proj-prev__image">
                    <img src="{% static 'img/photography_1280w.jpg' %}" srcset="
                        {% static 'img/photography_3000w.jpg' %} 3000w,
                        {% static 'img/photography_1920w.jpg' %} 1920w,
                        {% static 'img/photography_0864w.jpg' %} 864w,
                        {% static 'img/photography_0640w.jpg' %} 640w,
                        {% static 'img/photography_0640w.jpg' %} 640w,
                        {% static 'img/photography_0420w.jpg' %} 420w
                    " alt="project title goes here">
                </div>
                <h1 class="proj-prev__heading">
                    Project Title
                </h1>
                <p class="proj-prev__byline">
                    project keywords would go here
                </p>
            </section>
            <section class="proj-prev">
                <div class="proj-prev__image">
                    <img src="{% static 'img/photography_1280w.jpg' %}" srcset="
                        {% static 'img/photography_3000w.jpg' %} 3000w,
                        {% static 'img/photography_1920w.jpg' %} 1920w,
                        {% static 'img/photography_0864w.jpg' %} 864w,
                        {% static 'img/photography_0640w.jpg' %} 640w,
                        {% static 'img/photography_0640w.jpg' %} 640w,
                        {% static 'img/photography_0420w.jpg' %} 420w
                    " alt="project title goes here">
                </div>
                <h1 class="proj-prev__heading">
                    Project Title
                </h1>
                <p class="proj-prev__byline">
                    project keywords would go here
                </p>
            </section>
            <section class="proj-prev">
                <div class="proj-prev__image">
                    <img src="{% static 'img/photography_1280w.jpg' %}" srcset="
                        {% static 'img/photography_3000w.jpg' %} 3000w,
                        {% static 'img/photography_1920w.jpg' %} 1920w,
                        {% static 'img/photography_0864w.jpg' %} 864w,
                        {% static 'img/photography_0640w.jpg' %} 640w,
                        {% static 'img/photography_0640w.jpg' %} 640w,
                        {% static 'img/photography_0420w.jpg' %} 420w
                    " alt="project title goes here">
                </div>
                <h1 class="proj-prev__heading">
                    Project Title
                </h1>
                <p class="proj-prev__byline">
                    project keywords would go here
                </p>
            </section>
        </div>
</main>
{% endblock content %}