{% extends 'index.html' %}
{% block sidebar %}
    {% include 'project/partials/project_menu_snippet.html' %}
{% endblock sidebar %}
{% block content %}
{% include 'project/partials/project_snippet.html' with project=project %}
{% if user.is_authenticated %}
    <div class="text-end col-sm-7">
        <a class="btn btn-secondary mt-2 mb-2 me-4" href="{% url 'project:edit_project' project.id %}">
            🖉
        </a>
        <a class="btn btn-secondary mt-2 mb-2 me-4" href="{% url 'project:delete_project' project.id %}">
            X
        </a>
    </div>
{% endif %}
{% endblock content %}