{% extends 'index.html' %}
{% block sidebar %}
{% endblock sidebar %}
{% block content %}
<div class="text-center">
        <h2>Projects</h2>
</div>
<main class="project-grid">

    <div class="project-list">

        {% for instance in projects %}
        <div class="proj-prev border border-secondary" onclick="location.href='{% url 'project:display_project' instance.id %}'">
            {% include 'project/partials/project_minus_snippet.html' with project=instance %}
        </div>
        {% endfor %}
    </div>
    {% if user.is_authenticated %}
    <div class="text-end">
            <a class="btn btn-secondary mt-2 mb-2 me-4" href="{% url 'project:create_project' %}">
                Ajouter...
            </a>
    </div>
    {% endif %}
</main>
{% endblock content %}