{% extends 'index.html' %}
{% block content %}

<div class="text-center">
        <h2>Projects</h2>
</div>
<main class="container">

        <div class="proj-grid">
            {% for instance in projects %}
            <section class="proj-prev" onclick="location.href='{% url 'project:display_project' instance.id %}'">
                {% include 'project/partials/project_minus_snippet.html' with project=instance %}
            </section>
            <div class="text-end col-sm-6">
                <a class="btn btn-secondary mt-2 mb-2 me-4" href="{% url 'project:edit_project' instance.id %}">
                    🖉
                </a>
                <a class="btn btn-secondary mt-2 mb-2 me-4" href="{% url 'project:delete_project' instance.id %}">
                    X
                </a>
            </div>
            {% endfor %}
        </div>
        <div class="text-end">
        <a class="btn btn-secondary mt-2 mb-2 me-4" href="{% url 'project:create_project' %}">
            Ajouter...
        </a>
    </div>
</main>
{% endblock content %}