{% load static %}
{% load project_extras %}
<main class="project row">
    <!-- Colonne de gauche -->
    <div class="project__image col-lg-6 order-1">
            <img src="{{project.image.url}}" alt="project title goes here" >
    </div>
    <div class="project__skills col-lg-6 order-3">
        <div class="container border border-0">
            <div class="row justify-content-start">
                <div class="col-lg-4 mb-3">
                    <p><strong>SoftSkills:</strong>
                        <ul>
                        {% for softskill in project.softskills.all %}
                        <li>{{ softskill.title }}</li>
                        {% endfor %}
                        </ul>
                    </p>
                </div>
                <div class="col-lg-4">
                    <p><strong>Technologies:</strong>
                        <ul>
                        {% for technology in project.technologies.all %}
                            <li>{{ technology.title }}</li>
                        {% endfor %}
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Colonne de droite -->
    <div class="project__synopsis col-lg-6 order-2">
        <h1 class="project__heading mb-5">
            {{project.title}}
        </h1>
        <p class="mt-2 mb-5">
            {{project.description}}
        </p>
        <p class="mt-2 mb-5 d-flex flex-column">
            <strong>Début:</strong> {{project.date_started|get_posted_at_display}}
            <strong>Fin:</strong> {{project.date_end|get_posted_at_display}}
        </p>
        <p class="mt-2 mb-5">
            <strong>Tâches demandées :</strong>
            <ul>
            {% for task in project.get_task_list %}
                <li>{{task}}</li>
            {% endfor %}
            </ul>
        </p>
    </div>
    <div class="project__docs col-lg-8 order-4">
        <p><strong>Links:</strong></p>
        {% if project.link_git and not access_code %}
        <a class="btn btn-secondary mb-4 me-2"  href="{{project.link_git}}">Github</a>
        {% elif project.link_git and access_code %}
        <a class="link mb-4 me-4"  href="{{project.link_git}}">Github</a>
        {% endif %}
        {% if project.presentation_file and not access_code %}
        <a class="btn btn-secondary mb-4 me-4"  href="{{project.presentation_file.url}}">PowerPoint</a>
        {% elif project.presentation_file and access_code %}
        <a class="link mb-4 me-4"  href="{{project.presentation_file.url}}">PowerPoint</a>
        {% endif %}
        {% if project.documents and not access_code %}
        <a class="btn btn-secondary mb-4 me-4"  href="{{project.documents.url}}">Documents</a>
        {% elif project.documents and access_code %}
        <a class="link mb-4 me-4"  href="{{project.documents.url}}">Documents</a>
        {% endif %}
    </div>
</main>