{% extends 'index.html' %}
{% block content %}
    {% if language.user == request.user %}
        <h2 class="text-center mb-4">Supprimer votre Langue ?</h2>
        <div class="review border border-secondary m-4 p-2">
            {% include 'skill/partials/language_snippet.html' with language_id=language %}
        </div>
        <form method="post">
            {{ delete_form }}
            {% csrf_token %}
            {% include 'skill/partials/validation_buttons_snippet.html' with word='Supprimer'%}
        </form>
    {% else %}
        {% include 'skill/access_denied.html' %}
    {% endif %}
{% endblock content %}