{% extends 'index.html' %}
{% block sidebar %}
    {% include 'skill/partials/skills_menu_snippet.html' %}
{% endblock sidebar %}
{% block content %}
    {% if technology.user == request.user %}
        <h2 class="text-center mb-4">Modifier votre technology</h2>

        <div class="d-block p-2">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ edit_form.edit_technology }}
                <label class="ms-3" for="{{ edit_form.title.id }}">Titre</label>
                <div class="ms-4 mb-3 p-2">
                    {{ edit_form.title}}
                </div>
                <label class="ms-3" for="{{ edit_form.level.id }}">Level</label>
                <div class="ms-4 mb-3 p-2">
                    {{ edit_form.level}}
                </div>
                {% include 'skill/partials/validation_buttons_snippet.html' with word='Envoyer' %}
            </form>
        </div>
    {% else %}
        {% include 'skill/access_denied.html' %}
    {% endif %}
{% endblock content %}