{% extends 'index.html' %}
{% block sidebar %}
    {% include 'skill/partials/skills_menu_snippet.html' %}
{% endblock sidebar %}
{% block content %}
    <div class="text-center">
        <h2>Langues</h2>
    </div>
    {% for instance in languages %}
        <div class="ticket border border-secondary m-4 p-2 row">
            <div class="align-self-center col-sm-6">
                {% include 'skill/partials/language_snippet.html' with language=instance %}
            </div>
            <div class="text-end col-sm-6">
                <a class="btn btn-secondary mt-2 mb-2 me-4" href="{% url 'skill:edit_language' instance.id %}">
                    🖉
                </a>
                <a class="btn btn-secondary mt-2 mb-2 me-4" href="{% url 'skill:delete_language' instance.id %}">
                    X
                </a>
            </div>
        </div>
    {% endfor %}
    <div class="text-end">
        <a class="btn btn-secondary mt-2 mb-2 me-4" href="{% url 'skill:create_language' %}">
            Ajouter...
        </a>
    </div>
{% endblock content %}