<ul class="nav flex-sm-column">
    <li class="nav-item">
        <a class="btn btn--full-width btn-secondary" href="{% url 'skill:language_home' %}">
            Languages
        </a>
    </li>
    <li class="nav-item">
        <a class="btn btn--full-width btn-secondary" href="{% url 'skill:softskill_home' %}">
            Softskills
        </a>
    </li>
    <li class="nav-item">
        <a class="btn btn--full-width btn-secondary" href="{% url 'skill:technology_home' %}">
            Technologies
        </a>
    </li>
</ul>